<header class="content__page-title pure-g">
  <div class="media media--center page-title__block pure-u-4-5">
    <span class="media__fig white icon--text media__icon grey ion-cube"></span>
    <h2 class="blue-grey small upper mold">Products</h2>
  </div>
</header>

<div class="content__container row empty-box__wrapper">
  <div ng-hide="suppliers.length > 0" class="empty-box">
    <div class="empty-box__image">
      <span class="ion-ios7-information-outline grey"></span>
    </div>
    <div class="empty-box__text">
      <h1 class="grey bold upper">There wasn't any product listed as our product, yet</h1>
      <h2 class="grey bold">
        Click <a href="#/product/create" class="button blue button--round">here</a> manually add a product.
      </h2>
    </div>
  </div>
</div>