<header class="content__page-title">
  <div class="media media--center page-title__block left">
    <span class="media__fig white icon--text media__icon grey ion-cube"></span>
    <h2 class="blue-grey small upper mold">Products</h2>
  </div>
  <div class="media media--center input__block input--outline grey right">
    <span class="ion-ios7-search media__fig input__icon small grey--darker"></span>
    <input class="media__bd dark" type="text" ng-model="product_name" placeholder="Search for products">
  </div>
</header>

<div class="content__container row empty-box__wrapper">
  <div ng-hide="products.length > 0" class="empty-box">
    <div class="empty-box__image">
      <span class="ion-ios7-information-outline grey"></span>
    </div>
    <div class="empty-box__text">
      <h1 class="grey bold upper">There wasn't any product listed as our product, yet</h1>
      <h2 class="grey bold">
        Click <a href="#/product/create" class="button blue button--round">here</a> manually add a product.
      </h2>
    </div>
  </div>
  <div class="content__block content__block--transparent col-4">
    <div class="list row">
      <div class="list__item--horizontal card__wrapper pcol-1-2" ng-repeat="product in products | filter:product_name">
        <div class="list__card  list__card--padded media media--center row">
          <div class="media__bd">
            <a ng-href="#/product/{{product._id}}">
              <p class="upper media media--center">
                <span class="media__fig media__icon detail__icon ion-bag blue-grey"></span>
                <span class="bold upper  blue-grey smallest">{{product.name}}</span>
              </p>
            </a>
          </div>
         
        </div>
      </div>
    </div>
</div>