<div class="row">
  <div class="content__block--noborder col-2">
    <header class="content__block__title">
      <h5 class="bold grey--darker upper">What items would you like to order?</h5>
    </header>
    <div class="media media--center input__block input--outline grey">
      <span class="ion-ios7-search media__fig input__icon small grey--darker"></span>
      <input class="media__bd dark" type="text" ng-model="product_name" placeholder="Search product">
    </div>
    <div class="list row  max-height450">
      <div class="list__item--horizontal card__wrapper pcol-1-1" ng-repeat="product in products | filter:product_name">
        <div class="list__card  list__card--padded media media--center row">
          <div class="media__bd">
            <a href="" ng-click="order.product_name = product.name; order.product_id = product._id; focusInput=true">
              <p class="upper media media--center">
                <span class="media__fig media__icon detail__icon ion-bag blue-grey"></span>
                <span class="bold upper  blue-grey smallest">{{product.name}}</span>
              </p>
            </a>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  
  <div class="content__block--noborder col-2">
    <header class="content__block__title">
      <h5 class="bold grey--darker upper">Click items on the left or search here</h5>
    </header>
    
    <form ng-submit="orderCreate()" action="" novalidate>
      <div class="media media--center input__block input--outline grey">
        <span class="ion-ios7-cart-outline media__fig input__icon small grey--darker"></span>
        <input class="media__bd dark grey--darker" type="text" ng-model="order.product_name" placeholder="Product name here" disabled>
      </div>
      <div class="media media--center input__block input--outline grey">
        <span class="ion-ios7-more-outline media__fig input__icon small grey--darker"></span>
        <input class="media__bd dark grey--darker" type="number" ng-model="order.amount" placeholder="Enter amount" my-focus="focusInput">
      </div>
      <a ng-click="orderCreate()" class="media media--center button button--outline right">
        <figure class="media__fig button__icon small">
          <span class="ion-ios7-checkmark-empty grey--darker"></span>
        </figure>
        <div class="media__bd button__text grey--darker">Add to purchase order</div>
      </a>
      <input class="hidden" type="submit"></input>
      <div class="clearfix"></div>
    </form>
    <div ng-show="purchaseOrder.orders.length > 0">
    <div>
      <header class="content__block__title">
        <h5 class="bold grey--darker upper">Purchase Order Items</h5>
      </header>
      <ul class="order__list">
        <li class="order__item tag white media media--center" ng-repeat="order in purchaseOrder.orders">
          <span class="media__fig ion-cube detail__icon grey"></span>
          <span class="smallest upper">&nbsp;{{order.product_name}} ({{order.amount}})</span>
          <a href="" ng-click="orderDelete($index)">
            <span class="hint--top" data-hint="Delete this product"><span class="media__fig ion-close detail__icon red"></span></span>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
      <a ng-href="/#/purchase_order" class="button green media media--center right" ng-click="purchaseOrderIssue()">
        <span class="ion-ios7-checkmark-empty media__icon button__icon small white"></span>
        <span class="media__bd upper bold white smallest">Issue Purchase Order</span>
      </a>
    </div>
  </div>
</div>