<header class="content__page-title pure-g">
  <div class="media media--center page-title__block pure-u-4-5">
    <span class="media__fig white icon--text media__icon grey ion-ios7-albums"></span>
    <h2 class="blue-grey small upper mold">Create a Purchase Order</h2>
  </div>
</header>

<div class="content__container">
  <div class="content__block overflow-x--hidden">
    <div class="step__items  bold smallest upper">
      <a ui-sref-active="active" ui-sref=".suppliers_list" class="step__item dark-grey"><span class="step__item__number white">1</span> Supplier</a>
      <a ui-sref-active="active" ui-sref=".verify" class="step__item dark-grey"><span class="step__item__number white">2</span> Verify &amp; Save</a>
      <a ui-sref-active="active" ui-sref=".order" class="step__item dark-grey"><span class="step__item__number white">3</span> Add Items</a>
    </div>
    <div class="form__view" ui-view></div>
  </div>
</div>