doctype html
html(lang=en, class="no-js")
  head
    title Benseth Drug Store
    meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height")
    link(rel="stylesheet", href="vendors/roboto-fontface/roboto-fontface.css")
    link(rel="stylesheet", href="vendors/ionicons/css/ionicons.css")
    link(rel="stylesheet", href="vendors/hint.css/hint.css")
    link(rel="stylesheet", href="styles/animate.css")
    link(rel="stylesheet", href="styles/main.css")
  body(ng-app="bensethApp", class="vbox")

    ui-view(class="app__view container hbox")
    // angular
    script(src="vendors/angular/angular.js")
    script(src="vendors/json3/lib/json3.js")
    script(src="vendors/angular-resource/angular-resource.js")
    script(src="vendors/angular-cookies/angular-cookies.js")
    script(src="vendors/angular-sanitize/angular-sanitize.js")
    script(src="vendors/angular-animate/angular-animate.js")
    script(src="vendors/angular-ui-router/release/angular-ui-router.js")
    script(src="vendors/angular-http-auth/src/http-auth-interceptor.js")

    script(src="scripts/app.js") 
    script(src="scripts/controllers/index.js")
    script(src="scripts/services/index.js")
    script(src="scripts/directives/index.js")
    script(src="scripts/filters/index.js")