<div class="sidebar">
  <section class="media media--center sidebar__header">
    <span class="media__fig ion-ios7-person white icon--header media__icon"></span>
    <div class="media__bd user__block shadow upper">
      <p class="user__role smallest white">Administrator</p>
      <p class="user__name white bold">Ben Seth</p>
    </div>
  </section>
  <section class="side-nav">
    <ul class="nav">
      <li class="nav__item">
        <a href="#/admin" class="media media--center">
          <span class="media__fig media__icon nav__icon small ion-levels"></span>
          <span class="upper smallest bold">Admin Panel</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#/purchase_order" class="media media--center">
          <span class="media__fig media__icon nav__icon small ion-ios7-albums"></span>
          <span class="upper smallest bold">Purchase Order</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#/user" class="media media--center">
          <span class="media__fig media__icon nav__icon small ion-ios7-people"></span>
          <span class="upper smallest bold">Users</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#/supplier" class="media media--center">
          <span class="media__fig media__icon nav__icon small ion-ios7-world"></span>
          <span class="upper smallest bold">Suppliers</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#/order/receive" class="media media--center">
          <span class="media__fig media__icon nav__icon small ion-ios7-filing"></span>
          <span class="upper smallest bold">Receive Order</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#/order" class="media media--center">
          <span class="media__fig media__icon nav__icon small ion-filing"></span>
          <span class="upper smallest bold">Orders</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#/supply" class="media media--center">
          <span class="media__fig media__icon nav__icon small ion-android-storage"></span>
          <span class="upper smallest bold">Supplies</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#/product" class="media media--center">
          <span class="media__fig media__icon nav__icon small ion-cube"></span>
          <span class="upper smallest bold">Products</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#/pos" class="media media--center">
          <span class="media__fig media__icon nav__icon small ion-cash"></span>
          <span class="upper smallest bold">Point of Sales</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#/logout" class="media media--center">
          <span class="media__fig media__icon nav__icon small ion-log-out"></span>
          <span class="upper smallest bold">Logout</span>
        </a>
      </li>
    </ul> 
  </section>
</div>
<div class="content vbox" ui-view></div>